/* Defoult */
* {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Bruno Ace SC', cursive;
}

li {}

/* Header ////////////////////////////////////*/


/* left icon */
.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icon {
    display: flex;
    align-items: center;
}

.icon {
    width: 150px;
}

.header__title {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

/* right item */

.header__item {
    display: flex;
    align-items: center;
}

.header__item>ul {
    color: #FFFFFFB3;
    list-style-type: none;
    display: flex;
    font-size: 20px;
}

.header__item>ul>li {
    padding-left: 20px;

}

.header__item>ul>li>a {
    color: #FFFFFFB3;
    text-decoration: none;
    transition: .3s;
}

.header__item>ul>li>a:hover {
    color: white;
    text-decoration: none;
}



.header__item--tel {
    color: white;
    margin: 0 40px 0 20px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .3s;
}

.header__item--tel:hover {
    background-color: white;
    color: black;
}

.header__item--burger{
    display: none;
}

/* Media */

@media (max-width: 1070px){

    .header__wrap{
        padding: 20px 20px;
    }

    .header__icon > a > img{
        display: none;
    }

    .header__item--tel{
        margin-right: 0;
    }
}

@media (max-width: 920px){
    .menu__box > li{
        display: none;
    }

    .header__item--tel{
        margin-right: 50px;
    }

    
}

@media (max-width: 580px){
    .header__wrap{
        flex-direction: column;
        align-items: start;
    }

    .header__item--tel{
        margin: 0;
        padding-right: 10px;
        padding-left: 10px;
    }

    .header__item--burger{
        display: flex;
        color: white;
        align-items: center;
        margin-left: 20px;
        position: absolute;
        top: 28px;
        right: 20px;

        width: 26px;
        height: 26px;

        cursor: pointer;
        z-index: 1;

    }

    .header__item--burger > span,
    .header__item--burger > span::after,
    .header__item--burger > span::before{
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;

        background-color: white;
    }

    .header__item--burger > span::after{
        content: '';
        top: 8px;
    }

    .header__item--burger > span::before{
        content: '';
        top: -8px;
    }

    /* .menu__box > li{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;

        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    } */

    /* .menu__box {
        display: block;
        padding: 12px 24px;
        color: #333;
        /* font-family: 'Roboto', sans-serif; */
        /* font-size: 20px; 
        font-weight: 600;
        text-decoration: none;
      } */
      /* .menu__box > li:hover {
        background-color: #CFD8DC;
      }

      .menu__box > li > span {
        transform: rotate(45deg);
      }
      .header__item--burger > span::before {
        top: 0;
        transform: rotate(0);
      }
      .header__item--burger > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      .header__item--burger {
        visibility: visible;
        left: 0;
      } */
    
}

/* Content 1 */



/* Footer */